body {
	background-image:url("elephant5.jpg"); background-repeat:no-repeat; background-attachment:fixed;}
	div {
		width: 600px; height: 300px; 
}
h1 { 
font-family: "Archivo Black", Arial, serif; font-weight: 400; color: orange; padding-left: 25px; padding-top: 25px;
}